<ion-header>
  <ion-toolbar class="pr-4 pb-4">
    <ion-title class="mt-2 md:mt-4">{{ plan?.title }}</ion-title>
    <ion-buttons class="mt-2 md:mt-4" slot="end">
      <button type="button" (click)="sharePlan()" class="text-black">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />
        </svg>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="relative">
  <div id="link-copied-banner" class="absolute opacity-0 mx-auto left-0 right-0 rounded-bl-md rounded-br-md w-full bg-green-400 text-white h-10 flex justify-center items-center transition duration-300 md:w-1/3">
    Enlace copiado
  </div>

  <swiper [config]="swiperConfig" class="h-1/2 w-full md:mt-12 md:mx-auto md:rounded-2xl md:w-1/2">
    <ng-template swiperSlide *ngFor="let image of plan?.images">
      <img alt="" [src]="image" class="w-full object-cover h-full">
    </ng-template>
  </swiper>

  <div class="mt-8 px-4 md:px-0 md:w-1/2 md:mx-auto">
    <div class="grid grid-cols-2 gap-4 mb-4 md:grid-cols-4">
      <div class="flex flex-col p-4 border border-solid border-gray-300 rounded-lg">
        <span class="text-gray-800 font-medium">
          Categoría
        </span>
        <span class="text-gray-400 font-light">
          {{ plan?.category?.name }}
        </span>
      </div>

      <div class="flex flex-col p-4 border border-solid border-gray-300 rounded-lg">
        <span class="text-gray-800 font-medium">
          Capacidad
        </span>
        <span class="text-gray-400 font-light">
          {{ plan?.capacity }} persona(s)
        </span>
      </div>

      <div class="flex flex-col p-4 border border-solid border-gray-300 rounded-lg">
        <span class="text-gray-800 font-medium">
          Fecha
        </span>
        <span class="text-gray-400 font-light" *ngIf="!plan?.start_date && !plan?.end_date">
          Sin fecha
        </span>
        <span class="text-gray-400 font-light" *ngIf="plan?.start_date && !plan?.end_date">
          {{ plan?.start_date * 1000 | date :  "dd MMM HH:mm" : "" : "es" }}
        </span>
        <span class="text-gray-400 font-light" *ngIf="plan?.start_date && plan?.end_date">
          {{ plan?.start_date.seconds * 1000 | date :  "dd MMM HH:mm" : "" : "es" }} -
          {{ plan?.end_date.seconds * 1000 | date :  "dd MMM HH:mm" : "" : "es" }}
        </span>
      </div>

      <div class="flex flex-col p-4 border border-solid border-gray-300 rounded-lg">
        <span class="text-gray-800 font-medium">
          Precio
        </span>
        <span class="text-gray-400 font-light">
          {{ plan?.price }} €
        </span>
      </div>
    </div>

    <div class="flex flex-col">
      <span class="text-2xl text-gray-800 font-medium mb-2">{{ plan?.short_description }}</span>
      <span class="text-gray-400 font-light">{{ plan?.description }}</span>
    </div>
  </div>

</ion-content>
