<ion-header>
  <ion-toolbar class="pr-4 pb-4">
    <ion-title class="mt-4">
      <img src="assets/logo.png" alt="" class="w-12 h-12 rounded-2xl">
    </ion-title>
    <ion-buttons class="mt-4" slot="end">
      <button (click)="contact()" class="w-max h-10 shadow-sm inline-flex justify-center py-2 px-4 border text-base font-medium rounded-md text-white bg-brand transform duration-300 hover:scale-105">
        ¿Eres un negocio?
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="relative">
  <div id="link-copied-banner" class="absolute opacity-0 mx-auto left-0 right-0 rounded-bl-md rounded-br-md w-full bg-green-400 text-white h-10 flex justify-center items-center transition duration-300 md:w-1/3">
    Enlace copiado
  </div>

  <div class="px-4 flex items-center flex-col h-full w-full pt-12">
    <h2 class="text-brand w-full text-center font-bold md:w-1/2" *ngIf="plans.length === 0">
      No se han encontrado resultados
    </h2>

    <p class="m-0 w-full text-center text-base font-light text-gray-light md:w-1/5" *ngIf="plans.length === 0">
      Amplíe su búsqueda en los filtros. Es probable que en su ubicación no existan planes. ¡Vuelve pronto para disfrutar de los mejores planes!
    </p>

    <swiper #swiper class="plan h-5/6 w-full" [config]="swiperConfig" *ngIf="plans.length > 0">
      <ng-template swiperSlide *ngFor="let plan of plans">
        <ion-card class="h-full w-full m-0 rounded-lg">
          <ion-img src="{{ plan.image }}" class="filter brightness-75 w-full h-1/2 object-cover"></ion-img>
          <div class="h-1/2 p-4 absolute w-full top-0 flex flex-col justify-between">
            <div class="flex justify-between">
              <span class="price-badge" *ngIf="plan.price > 0">{{ plan.price }} €</span>
              <span class="price-badge uppercase" *ngIf="plan.price === 0">Gratis</span>
              <button type="button" (click)="sharePlan(plan.id)" class="text-white bg-transparent">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.684 13.342C8.886 12.938 9 12.482 9 12c0-.482-.114-.938-.316-1.342m0 2.684a3 3 0 110-2.684m0 2.684l6.632 3.316m-6.632-6l6.632-3.316m0 0a3 3 0 105.367-2.684 3 3 0 00-5.367 2.684zm0 9.316a3 3 0 105.368 2.684 3 3 0 00-5.368-2.684z" />
                </svg>
              </button>
            </div>
            <div class="flex flex-col items-center">
              <div class="text-2xl font-bold text-white">{{ plan.title }}</div>
              <div class="text-base text-white">{{ plan.category.name }}</div>
            </div>
            <div class="flex justify-between">
              <div class="flex items-center text-lg">
                <ion-icon color="light" name="pin"></ion-icon>
                <span class="ml-2 font-bold text-white">{{ plan.place.name }}</span>
              </div>
              <div class="flex items-center text-xl">
                <span class="text-white font-bold mr-2">{{ plan.capacity }}</span>
                <ion-icon color="light" name="people"></ion-icon>
              </div>
            </div>
          </div>

          <ion-card-header>
            <ion-card-subtitle *ngIf="!plan.start_date && !plan.end_date">
              Sin fecha
            </ion-card-subtitle>
            <ion-card-subtitle *ngIf="plan.start_date && !plan.end_date">
              {{ plan.start_date.seconds * 1000 | date :  "dd MMM HH:mm" : "" : "es" }}
            </ion-card-subtitle>
            <ion-card-subtitle *ngIf="plan.start_date && plan.end_date">
              {{ plan.start_date.seconds * 1000 | date :  "dd MMM HH:mm" : "" : "es" }} -
              {{ plan.end_date.seconds * 1000 | date :  "dd MMM HH:mm" : "" : "es" }}
            </ion-card-subtitle>
            <ion-card-title>{{ plan.short_description }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <span class="line-clamp-4">
              {{ plan.description }}
            </span>
          </ion-card-content>

          <ion-button (click)="openLocation(plan)" class="absolute bottom-0 mx-auto left-0 right-0" expand="full" fill="clear">Ver ubicación</ion-button>
        </ion-card>
      </ng-template>
    </swiper>

    <button type="button" (click)="openFilters()" class="absolute bottom-8 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-brand">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z" />
      </svg>
      Filtros
    </button>
  </div>
</ion-content>
