.price-badge {
  @apply bg-white py-1.5 px-2.5 border border-solid border-gray-200 rounded-lg text-gray-600 font-bold text-lg;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--ion-color-primary);
}

@media screen and (min-width: 768px) {
  .plan {
    width: 60vw;
  }
}

@media screen and (min-width: 1024px) {
  .plan {
    width: 30vw;
  }
}
