@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~swiper/swiper-bundle.css";

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500&display=swap');

html, body {
  --ion-font-family: 'Ubuntu', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
}

ion-toolbar {
  --background: white;
}

ion-content {
  --background: var(--ion-color-light);
}

.swiper-slide {
  border-radius: 0.5rem;
}

.swiper-pagination-progressbar-fill {
  background: var(--ion-color-primary) !important;
}
