ion-item {
  border-bottom: 1px solid var(--ion-color-light-shade);
}

ion-range {
  padding: 10px 0;
}

ion-select {
  padding-left: 0;
}

ion-datetime {
  padding-left: 0;
  padding-top: 20px;
}

ion-select {
  max-width: 100%;
  width: 100%;
  padding-left: 10px;
  margin: 20px 20px 20px 0;
  border: 1px solid var(--ion-color-medium);
  border-radius: 5px;
}

.distance-range {
  padding: 10px;
}
