<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Filtros</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeFilters()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-label>
      <span class="opacity-50">Categoría</span>
      <ion-select
        [interfaceOptions]="selectOptions"
        [(ngModel)]="filter.category"
      >
        <ion-select-option value="all">Todas</ion-select-option>
        <ion-select-option
          value="{{ category.value }}"
          *ngFor="let category of categories"
          >{{ category.name }}</ion-select-option
        >
      </ion-select>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label>
      <span class="opacity-50">¿Cuántas personas vais a ser?</span>
      <ion-range
        min="1"
        max="10"
        step="1"
        pin="true"
        [(ngModel)]="filter.capacity"
      >
        <ion-icon size="small" slot="start" name="person-outline"></ion-icon>
        <ion-icon slot="end" name="people-outline"></ion-icon>
      </ion-range>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label>
      <span class="opacity-50">Precio</span>
      <ion-range
        min="0"
        max="200"
        step="5"
        pin="true"
        dual-knobs="true"
        [(ngModel)]="filter.price"
      >
        <ion-icon size="small" slot="start" name="logo-euro"></ion-icon>
        <ion-icon slot="end" name="logo-euro"></ion-icon>
      </ion-range>
    </ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label>
      <span class="opacity-50">Distancia</span>
      <ion-range
        min="5"
        max="200"
        step="10"
        pin="true"
        [(ngModel)]="filter.distance"
        class="distance-range"
      ></ion-range>
      <span class="opacity-50">Hasta a {{ filter.distance }} km de mí</span>
    </ion-label>
  </ion-item>

  <ion-item lines="none" id="open-modal" class="cursor-pointer">
    <ion-label>
      <span class="opacity-50">¿Cuándo quieres hacer el plan?</span><br />
      <span class="my-6">{{ formattedDate }}</span>
    </ion-label>
  </ion-item>

  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-datetime
          #datetime
          [value]="selectedDate"
          first-day-of-week="1"
          size="cover"
          presentation="date"
          [min]="minDate"
          (ionChange)="changeDate(datetime.value)"
        >
        </ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer class="ion-no-border">
  <button
    (click)="applyFilters()"
    class="inline-flex justify-center w-full h-full px-4 py-2 text-base font-medium text-white shadow-sm  bg-brand"
  >
    Aplicar filtros
  </button>
</ion-footer>
